
  <div class="message-container other-messages" id="message-<%= @message.id %>">
    <div class="other-messages-inside">
      <i class="author">
        <span><%= @message.user.name %></span>
        <small><%= @message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p class="p-white"><%= @message.content %></p>
    </div>
  </div>