// Specific CSS for your home-page
.welcome{
  height: 800px;
  background-image: url("https://images.unsplash.com/photo-1439405326854-014607f694d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3900&q=80");
  background-size:cover;
}

.coming-soon{
  width: 500px;
  margin: 0 auto;
  padding: 200px 0;
  color: white;

  p{
    font-size : 40px;
  }
}