// Specific CSS for your home-page
.home-banner{
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1439405326854-014607f694d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3900&q=80");
  background-size:cover;
  display: flex;
}

.coming-soon{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 150px 0;
  color: white;
}

.sports-cards{
  display: flex;
}

.cards-sessions{
  width: 100%;
  padding-bottom: 8px;
}