
    <div class="container">

        <h1>This is H1</h1>
        <h2>This is H2</h2>
        <h3>This is H3</h3>
        <p>This is p</p>

        <a class="btn btn-flat background-accent-color" href="#">Book now</a>
        <a class="btn btn-flat background-secondary-color" href="#">Book now</a>

        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
        </form>

        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
        <% end %>

        <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">

        <div class="card-session">
            <div class="card-session-colum">
                <h3>Titre</h3>
                <p>places disponible:</p>
                <p>localisation:</p>
            </div>
            <div class="card-session-colum  right">
                <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                <p>14h/22/03</p>
            </div>
        </div>

        <div class="card-mes-session">
            <div class="top-card-mes-session">
                <h3>Title</h3>
                <div class="right-flex">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                </div>
            </div>
            <div class="bar-white"></div>
            <div class="card-middle">
                <p>Sport:</p>
                <p>Spot:</p>
                <p>Date:</p>
                <p>Début:</p>
                <p>N'oublie pas de rapportter:</p>
            </div>
        </div>

        <div class="card-mes-session booking">
            <div class="top-card-mes-session">
                <h3>Title</h3>
                <div class="right-flex">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                </div>
            </div>
            <div class="bar-white"></div>
            <div class="card-middle">
                <p>Sport:</p>
                <p>Spot:</p>
                <p>Date:</p>
                <p>Début:</p>
                <p>N'oublie pas de rapportter:</p>
            </div>
            <div class="btn-inline">
                <div class="card-btn-down">
                    <a class="btn btn-flat background-primary-color" href="#">Refusé</a>
                    <a class="btn btn-flat background-accent-color" href="#">Accepté</a>
                </div>
            </div>
        </div>
        <!-- petite carte sport pour la page profile  -->
        <div>
          <div class="card-sport">
            <h3>10</h3>
          </div>
          <h2>Sport</h2>
        </div> 

        <!-- grande card sport home pour la home page -->
        <div class="card-sport-home">
          <h1>Kite</h1>
        </div>

    
        <!-- card pour la reservation confirmé  -->
        <div class= card-reservation-confirmed> 
            <h1>Reservation confirmé</h1>
            <a class="btn btn-flat background-accent-color margin-top" href="#">Book now</a>
        </div>
        <!--grand btn noir pour la home page -->
        <div>
          <a class="btn btn-flat background-accent-color margin-top big-btn" href="#">Book now</a>
        </div>

        <!--score card session -->
        <div class="score-card-session">
            <h1>Départ</h1>
            <h1 class="color-depart">03/08</h1>
        </div>
    </div>
