
    <div class="container">

        <h1>This is H1</h1>
        <h2>This is H2</h2>
        <h3>This is H3</h3>
        <p>This is p</p>

        <%# btn %>
        <a class="btn btn-flat background-accent-color" href="#">Book now</a>
        <a class="btn btn-flat background-secondary-color" href="#">Book now</a>
        <%# go back btn %>
        <a href="javascript:history.back()">
            <%= image_tag "outline_arrow_back_ios_black_24dp.png" %>
        </a>


        <%# forms %>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
        </form>

        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
        <% end %>

        <%# profil pix %>
        <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">

        <%# card session %>
        <div class="card-session">
            <div class="card-session-colum">
                <h3>Titre</h3>
                <p>Places disponibles:</p>
                <p>Spot:</p>
            </div>
            <div class="card-session-colum  right">
                <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                <p class="margin-top">14h/22/03</p>
            </div>
        </div>

        <%# card mes session %>
        <div class="card-mes-session">
            <div class="top-card-mes-session">
                <h3 class="titre-margin-top">Title</h3>
                <div class="right-flex">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                </div>
            </div>
            <div class="bar-white"></div>
            <div class="card-middle">
                <p>Sport:</p>
                <p>Spot:</p>
                <p>Date:</p>
                <p>Début:</p>
                <p class="margin-bottom">N'oublie pas de rapporter:</p>
            </div>
        </div>

        <%# card mes session avec btn de booking %>
        <div class="card-mes-session booking">
            <div class="top-card-mes-session">
                <h3 class="titre-margin-top">Title</h3>
                <div class="right-flex">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                    <img class="profile-pic margin" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
                </div>
            </div>
            <div class="bar-white"></div>
            <div class="card-middle">
                <p>Sport:</p>
                <p>Spot:</p>
                <p>Date:</p>
                <p>Début:</p>
                <p class="margin-bottom">N'oublie pas de rapportter:</p>
            </div>
            <div class="btn-inline">
                <div class="card-btn-down">
                    <a class="btn btn-flat background-grey-color" href="#">Refuser</a>
                    <a class="btn btn-flat background-accent-color" href="#">Accepter</a>
                </div>
            </div>
        </div>
        <!-- petite carte sport pour la page profile  -->
        <div class="card-sport">
          <div class="card-sport-image">
            <h3 class="padding-10">10</h3>
          </div>
          <div class="w-100 d-flex justify-content-center">
            <h2>Sport</h2>
          </div>
        </div> 

        <!-- grande card sport home pour la home page -->
        <div class="card-sport-home">
          <h1>Kite</h1>
        </div>
    
        <!-- card pour la reservation confirmé  -->
        <div class= card-reservation-confirmed> 
            <h1>Reservation confirmé</h1>
            <a class="btn btn-flat background-accent-color margin-top" href="#">Book now</a>
        </div>
        <!--grand btn noir pour la home page -->
        <div>
          <a class="btn btn-flat background-accent-color margin-top big-btn" href="#">Book now</a>
        </div>

        <!--score card session -->
        <div class="score-card-session">
            <h1>Départ</h1>
            <h1 class="color-depart">03/08</h1>
        </div>


         <!--review card -->
        <div class="card-reviews">
          <div class="card-top">
            <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
            <div class="padding-h1">
              <h1>Kelly Slater</h1>
              <h2>Mars 2021</h2>
            </div>
            </div>
              <p class="padding-text">Kelly Slater (né Robert Kelly Slater le 11 février 1972 à Cocoa Beach en Floride) est un surfeur professionnel américain. Il détient onze titres de champion du monde et plus de cinquante victoires sur le circuit d'élite ce qui constitue un record.</p>
            </div>
         </div>
        </div>
    </div>

