<div class="container">   
    <h1>oups pas de chance</h1>
    <h2>#500 Erreur du serveur interne</h2>

    <p>Une erreur est apparue nous travaillons pour fixer le problème d'ici peu.</p>
    <p>Nous serons bientôt de retour!</p>
    <%= image_tag "logo-sail-sessions.png", style:"margin: 25%; width: 50%" %>
</div>