
.btn-flat {
    color: $text-color;
    padding: 8px 24px;
    border-radius: 4px;
    transition: background 0.3s ease;
  }

  .background-accent-color {
    background-color: $accent-color;
}

.background-primary-color {
    background-color: $primary-color;
}

.background-secondary-color {
    background-color: $secondary-color;
}

.background-grey-color {
  background-color: $grey-color;
}

.big-btn{
  width: 100%;
  padding: 15px 50px
}

.sticky-btn {
  position: sticky;
  bottom: 85px;
}

.btn-flat-search {
  padding: 10px 50px;
  border-radius: 4px;
  transition: background 0.3s ease;
  color: $text-color;
}

// position du back btn

.position-top-left {
  position: absolute;
  left: 16px;
  top: 16px;
}