.card-sport{
  width: 100px;
  p, h1, h2, h3 {
    color: $text-color;
}
  
}
.card-sport-image{
  height: 100px;
  background-image:  linear-gradient(120deg, rgba(20,20,20,0.8), rgba(20,20,20,0.2)), url("https://wallpapercave.com/wp/wp5555815.jpg");
  background-size: cover;
  background-position: center;
  text-overflow: ellipsis;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $text-color;
  justify-content: end;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-weight: 700;
  .padding-10{
    padding: 10px;
  }
  
}
.card-sport-home{
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  text-overflow: ellipsis;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: $text-color;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 700;
  flex-shrink: 0;
  margin: 0 8px;

  p, h1, h2, h3 {
    color: $text-color;
  }
}


