.card-reservation-confirmed{
  background-color: $primary-color;
  border-radius: 8px;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .margin-top{
    margin-top: 10px;
  }
}

