.card-session {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-color;
    padding: 16px;
    border-radius: 8px;
    margin: 8px;

    .right {
        text-align: right;
    }
}