

.card-sport{
  width: 100px;
  height: 100px;
  background-image:  linear-gradient(120deg, rgba(20,20,20,0.8), rgba(20,20,20,0.2)), url("https://wallpapercave.com/wp/wp5555815.jpg");
  background-size: cover;
  background-position: center;
  text-overflow: ellipsis;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color:white;
  justify-content: end;
  display: flex;
  align-items: end;
  flex-direction: column;
  font-weight: 700;
  
}
