.card-session {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-color;
    padding: 16px;
    border-radius: 8px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 35%) 0px 5px 15px;

    .right {
        text-align: right;
    }

    .margin-top {
        margin-top: 5px;
    }

    p, h1, h2, h3 {
        color: $text-color;
    }
}

// grande card de notification
.card-mes-session {
    background-color: $secondary-color;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 35%) 0px 5px 15px;
    border-radius: 8px;
    margin: 8px;
    position: relative;
    margin-bottom: 40px;

    p, h1, h2, h3 {
        color: $text-color;
    }
    
    .top-card-mes-session {
        display: flex;
        justify-content: space-between;
        .titre-margin-top {
            margin-top: 15px;
        }
    }

    .right-flex {
        display: flex;
        align-items: flex-end;
        .margin {
            margin: 0 2px;
        }
    }

    .card-middle{
        margin-bottom: 10px;
        padding: 0 5px;
    }

    .bar-white {
        height: 2px;
        width: 98%;
        background-color: white;
        margin: 15px auto;
        border-radius: 2px;
    }

    .btn-inline{
        display: flex;
        justify-content: space-around;
    }

    .card-btn-down {
        margin-top: 15px;
        margin: 0 auto;
        position: absolute;
        bottom: -20px;
    }
}
