// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards-sport";
@import "btn-flat";
@import "text";
@import "profile-pic";
@import "cards-sessions";
@import "body";
@import "card-reservation-confirmed";
@import "score-card-session";
@import "card-reviews";
@import "banner";
@import "dropdown";
@import "carousel";
@import "container-edit-profile";
@import "barre-hr-color";
@import "cards-contact";
@import "notre-container";
@import "onglet";
@import "messages";
@import "map";
@import "page-transition";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}
