// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards-sport";
@import "btn-flat";
@import "color";
@import "text";
@import "profile-pic";
@import "card-mes-session";
@import "body";
@import "card-reservation-confirmed";


* {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}
