h1 {
    font-size: 24px;
    font-weight: bold;
    color: $secondary-color;
    font-family: 'Mate SC', serif;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    color: $secondary-color;
    font-family: 'Mate SC', serif;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    color: $secondary-color;
    font-family: 'Mate SC', serif;
}
p {
    font-size: 16px;
    color: $secondary-color;
    font-family: 'Roboto', sans-serif;
}

.view-headline {
  color: black;
}

.link-to-h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Mate SC', serif;
}
