h1 {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    color: $text-color;
}
p {
    font-size: 14px;
    color: $text-color;
}