h1 {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
    font-family: 'Mate SC', serif;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
    font-family: 'Mate SC', serif;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    font-family: 'Mate SC', serif;
}
p {
    font-size: 16px;
    color: $text-color;
    font-family: 'Roboto', sans-serif;
}
