@import "color";

.card-mes-session {
    
    background-color: $secondary-color;
    padding: 16px;
    border-radius: 8px;
    margin: 8px;

    .top-card-mes-session {
        display: flex;
        justify-content: space-between;
    }

    .right-flex {
        display: flex;
        align-items: flex-end;
    }
}
